openapi: 3.0.0
info:
  title: Print Service API
  version: '1.0'
  description: API Specification EROP and Voter Card API interactions with Print Service
  contact:
    name: Krister Bone
    email: krister.bone@valtech.com
servers:
  - url: 'https://api.printprovider.int.erop.ierds.uk'
components:
  schemas:
    PrintRequest:
      title: PrintRequest
      type: object
      description: Represents a request to print a voter certificate. This is the SQS message to be sent to the Print Service from the Voter Card API Service
      x-examples:
        Sample:
          voterApplicationId: 14ab70e8-bd3b-400f-bd95-246caf9e4810
          applicationReference: V321654978
          gssCode: E00000001
          issuingAuthority: Camden Borough Council
          issueDate: '2022-06-01'
          requestDateTime: '2022-06-01T12:23:03.000Z'
          cardVersion: string
          cardFirstname: John
          cardMiddlenames: Malcolm
          cardSurname: Smith
          certificateLanguage: en
          photoS3Arn: string
          deliveryOption: standard
          deliveryAddress:
            street: string
            property: string
            locality: string
            town: string
            area: string
            postcode: string
            uprn: string
      properties:
        voterApplicationId:
          type: string
          format: uuid
          description: The Voter Authority Certificate identifier
          example: 14ab70e8-bd3b-400f-bd95-246caf9e4810
        applicationReference:
          type: string
        gssCode:
          type: string
        issuingAuthority:
          type: string
          maxLength: 255
          description: Issuing authority (LA/ERO/VJB)
          example: Camden Borough Council
        issueDate:
          type: string
          format: date-time
          description: The issue date of the Voter Authority Card
          example: '2022-06-01'
        requestDateTime:
          type: string
          format: date-time
          description: The date time the Voter Authority Certificate was requested
          example: '2022-06-01T12:23:03.000Z'
        cardVersion:
          type: string
          description: Unsure if needed
        cardFirstname:
          type: string
          maxLength: 255
          description: First name of the Elector
          example: John
        cardMiddlenames:
          type: string
          maxLength: 255
          description: Middle names of the Elector
          example: Malcolm
        cardSurname:
          type: string
          maxLength: 255
          description: Surname of the Elector
          example: Smith
        certificateLanguage:
          type: string
          enum:
            - cy
            - en
          default: en
          description: The Voter Authority Certificate language
        photoS3Arn:
          type: string
          description: The S3 Arn of the processed approved image to be sent to the printers
        deliveryOption:
          type: string
          enum:
            - standard
          description: Future proof in case of fast track
        deliveryAddress:
          $ref: '#/components/schemas/Address'
      required:
        - voterApplicationId
        - issuingAuthority
        - issueDate
        - requestDateTime
        - cardFirstname
        - cardSurname
        - certificateLanguage
        - photoS3Arn
        - deliveryOption
        - deliveryAddress
    Address:
      title: Address
      type: object
      properties:
        street:
          type: string
          maxLength: 255
        property:
          type: string
          maxLength: 255
        locality:
          type: string
          maxLength: 255
        town:
          type: string
          maxLength: 255
        area:
          type: string
          maxLength: 255
        postcode:
          type: string
          maxLength: 10
        uprn:
          type: string
          maxLength: 12
      required:
        - street
        - postcode
      x-examples:
        Minimum data:
          street: Street 1
          postcode: PC1 2FB
        Normal Address:
          street: East Lodge
          property: Balruddery
          locality: Invergowrie
          town: Dundee
          area: Angus
          postcode: DD25LF
          uprn: '117095813'
      description: Address format used throughout gov.uk voter services.
  responses: {}
  securitySchemes: {}
  requestBodies: {}
paths: {}
