openapi: 3.0.0
info:
  title: Print ProviderAPI
  version: '1.0'
  description: API Specification for sharing Models between EIP and Print suppliers that will be exchanged over SFTP.
  contact:
    name: Krister Bone
    email: krister.bone@valtech.com
servers:
  - url: 'https://api.printprovider.int.erop.ierds.uk'
components:
  schemas:
    PrintRequest:
      title: PrintRequest
      type: object
      description: Represents a request to print a single voter certificate.
      properties:
        requestId:
          type: string
          format: uuid
          description: The request identifier of the print request
          example: 14ab70e8-bd3b-400f-bd95-246caf9e4810
        issuingAuthority:
          type: string
          maxLength: 255
          description: Issuing authority (LA/ERO/VJB)
          example: Camden Borough Council
        issueDate:
          type: string
          format: date-time
          description: The issue date of the Voter Authority Card
          example: '2022-06-01'
        requestDateTime:
          type: string
          format: date-time
          description: The date time the Voter Authority Certificate was requested
          example: '2022-06-01T12:23:03.000Z'
        cardVersion:
          type: string
          description: Unsure if needed
        cardFirstname:
          type: string
          maxLength: 255
          description: First name of the Elector
          example: John
        cardMiddlenames:
          type: string
          maxLength: 255
          description: Middle names of the Elector
          example: Malcolm
        cardSurname:
          type: string
          maxLength: 255
          description: Surname of the Elector
          example: Smith
        cardNumber:
          type: string
          maxLength: 20
          minLength: 20
          description: Unique identifier of the Voter Authority Certificate
          example: TBC
        certificateLanguage:
          type: string
          enum:
            - cy
            - en
          default: en
          description: The Voter Authority Certificate language
        deliveryOption:
          type: string
          enum:
            - standard
          description: Future proof in case of fast track
        photo:
          type: string
          format: binary
          description: Base64 encoded png image to be printed on the Voter Authority Certificate
        deliveryAddress:
          $ref: '#/components/schemas/Address'
      required:
        - requestId
        - issuingAuthority
        - issueDate
        - requestDateTime
        - cardFirstname
        - cardSurname
        - cardNumber
        - certificateLanguage
        - deliveryOption
        - photo
        - deliveryAddress
      x-examples:
        Sample:
          requestId: 14ab70e8-bd3b-400f-bd95-246caf9e4810
          issuingAuthority: Camden Borough Council
          issueDate: '2022-06-01'
          requestDateTime: '2022-06-01T12:23:03.000Z'
          cardVersion: string
          cardFirstname: John
          cardMiddlenames: Malcolm
          cardSurname: Smith
          cardNumber: TBC
          certificateLanguage: en
          deliveryOption: standard
          photo: base64==
          deliveryAddress:
            street: string
            property: string
            locality: string
            town: string
            area: string
            postcode: string
            uprn: string
    PrintRequestStatusUpdate:
      title: PrintRequestStatusUpdate
      type: object
      description: Represents a status update to a print request.
      properties:
        requestId:
          type: string
          format: uuid
          description: The request identifier of the print request
          example: 14ab70e8-bd3b-400f-bd95-246caf9e4810
        dateTimeUpdated:
          type: string
          format: date-time
          description: The date time the Voter Authority Certificate print request was updated.
          example: '2022-06-01T14:23:03.000Z'
      required:
        - requestId
        - dateTimeUpdated
    Address:
      title: Address
      type: object
      properties:
        street:
          type: string
          maxLength: 255
        property:
          type: string
          maxLength: 255
        locality:
          type: string
          maxLength: 255
        town:
          type: string
          maxLength: 255
        area:
          type: string
          maxLength: 255
        postcode:
          type: string
          maxLength: 10
        uprn:
          type: string
          maxLength: 12
      required:
        - street
        - postcode
      x-examples:
        Minimum data:
          street: Street 1
          postcode: PC1 2FB
        Normal Address:
          street: East Lodge
          property: Balruddery
          locality: Invergowrie
          town: Dundee
          area: Angus
          postcode: DD25LF
          uprn: '117095813'
      description: Address format used throughout gov.uk voter services.
  responses: {}
  securitySchemes: {}
  requestBodies: {}
