<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <appender name="testLogAppender" class="uk.gov.dluhc.printapi.testsupport.TestLogAppender"/>
    <root level="info">
        <appender-ref ref="testLogAppender"/>
    </root>

    <logger name="org.testcontainers" level="INFO"/>
    <logger name="com.github.dockerjava" level="WARN"/>
</configuration>
